.center img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    overflow: auto;
    padding: 10px;
    background-color: rgb(38, 63, 63);
}

body {
    background-color: rgba(100, 240, 87, 0.555)
}

.nome {
    display: table;
    margin: 0px auto 0px auto;
    font-size: 20px;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: rgb(4, 102, 81);
    font-size: 30px;
}

.paragrafo {
    color: rgb(10, 15, 88);
    font-size: 23px;
    position: relative;
    top: -300px;
    width: 600px;
    left: 70px;
    overflow: auto;
    display: block;
}

.informacoes {
    font-size: 18px;
    font-family: monospace;
    line-height: 21px;
}

.lista_indice {
    text-decoration: none;
    color: rgb(40, 17, 168);
    font-size: 20px;
}

.subtitulos {
    border-radius: 30px;
    padding: 8px 12px;
    background-color: rgb(125, 125, 233);
    color: rgb(238, 234, 13);
    text-align: center;
    font-family: monospace;
}
.competencias li:nth-of-type(2n+1){
font-family: 'Times New Roman', Times, serif;
color: red;
font-weight: bold;
}